@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1E3A8A;   
  --color-secondary: #16E2F5; 
  --color-neutral: #E5E7EB;   
  --color-accent: #1E3A8A;   }
.active{
  background-color:#CAEB66;
  border-radius: 16px;
}