@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1E3A8A;   
  --color-secondary: #eafaf9; 
  --color-neutral: #E5E7EB;   
  --color-accent: #1E3A8A;   }
.active{
 border-bottom:2px solid white;
 border-top:1px solid white;
 border-right:1px solid white;
 border-left:1px solid white;
  border-radius: 16px;
}
.title{
  color:#1d695e;
}